body
{
    width: 90%;
    margin-left: 5%;
}

h1
{text-align: center;}

.films
{
   border-collapse: collapse; 
}

.films > th
{
    padding-right: 50px;
    font-size: 19px;
}

img
{
    height:200px;
    padding-right: 20px;
}