body
{
    width: 90%;
    margin-left: 5%;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #f7f0f0;
    font-family:'Schoolbell', cursive;
}

h1
{text-align: center;}

.films
{
   border-collapse: collapse; 
}

.films > th
{
    padding-right: 50px;
    font-size: 19px;
}

img
{
    height:200px;
    padding-right: 20px;
}

img:hover

{
    height:230px;
    transition: 0.6s;
}