body
{
    width: 90%;
    margin-left: 5%;
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #f7f0f0;
    font-family:'Schoolbell', cursive;
}

h1
{text-align: center;}

.films
{
   border-collapse: collapse; 
}

.films > th
{
    padding-right: 50px;
    font-size: 19px;
}

img
{
    height:200px;
    padding-right: 20px;
}

img:hover

{
    height:250px;
    transition: 0.6s;
}


.intro
{
    background-color: #4b6686d4;
}

.planet
{
    background-color: #4b6686d4;
        border-collapse: collapse;
    border-spacing: 0px;
}

.planet > th,td
{   border: 1px solid;
    padding: 6px;
    background-color: #352137ad;
    font-size: 16px;}


#n, #rp,#op,#dia,#cli,#gra,#ter,#sw,#pop
{   border: 1px solid;
    padding: 6px;
    background-color: #352137ad;
    font-size: 18px;}

svg
{
    margin-top: 40px;
    background-color: #792929e8;
    margin-bottom: 30px;
}
svg:hover
{
   background-color:#962323e8;
    transition: 0.5s;
}


text
{font-size: 22px;
}
